@font-face {
    font-family: "Decrypted";
    src: url('./decrypted.ttf') format('truetype');
}

@font-face {
    font-family: "Geologica";
    src: url('./Geologica-ExtraBold.ttf') format('truetype');
}

body {
    --color1: #00aee5;
    --color2: #016eb1;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-content: center;
    justify-content: center;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 1s;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bg.hidden {
    display: none;
}

#bg-conic {
    --angle: 0deg;
    position: absolute;
    top: calc(min(-100vw, -100vh) + 50vh);
    left: calc(min(-100vw, -100vh) + 25vw);
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    overflow: hidden;  
    background: repeating-conic-gradient(
            var(--color1) calc(var(--angle)) calc(var(--angle) + 10deg),
            var(--color2) calc(var(--angle) + 10deg) calc(var(--angle) + 25deg));
    background-size: contain;
    animation: rotate infinite 120s linear;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#bg-glow {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(at 25%, var(--color1) 5%, rgba(0, 0, 0, 0.2));
    width: 100vw;
    height: 100vh;
}

#bg-dots {
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.3) 10%, transparent 10%);
    background-position: center;
    background-size: 30px 30px;
    top: -30vh;
    left: -50vw;
    width: 200vw;
    height: 200vh;
    rotate: 10deg;
    transform-origin: center;
}

/* Menu */

#menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: clamp(10px, 10vh, 60px);
    z-index: 100;
    color: var(--color2);
    user-select: none;
    cursor: pointer;
    filter: hue-rotate(100deg);
    transition: translate .5s, opacity .5s;
    opacity: 0.7;
}

#menu.hidden {
    translate: 75% 0;
    opacity: 0.2;

    #menu-icon {
        rotate: 180deg;
    }
}

#menu img {
    transition: rotate .5s;
    height: 100%;
    filter: invert(100%) drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

/* Card generator */

#card-gen{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 50px;
    height: 50px;
}

/* menu */

main {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: center;
    align-items: center;
    gap: 25px;
    transition: 1s;
    transform-origin: 60% 60%;
    max-width: 90vw;
}

.game main {
    scale: 0;
    opacity: 0;
}

main a {
    filter: drop-shadow(8px 5px rgba(0, 0, 0, 0.5));
    max-height: 90vh;
    max-width: 25vw;
}

main img {
    width: 100%;
    cursor: pointer;
}

.card {
    position: relative;
    background-size: contain;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border-radius: 7%;
    container-type: inline-size;
    width: 100%;
    transition: box-shadow 0.5s;
}

.card.white {
    background-image: url('./img/white_card.webp');
}

.card.black {
    background-image: url('./img/black_card.webp');
}

#cardHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 90vw;
    max-height: 90vh;
}

#cardHolder > .card {
    width: min(60vh, 90vw);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

#cardHolder > .card.slide-down {
    transform: translateY(300%);
    transition: transform 1s cubic-bezier(0.33, 0.66, 1, 1);
}

.card .cardUI,
.card input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    width: 100%;
    height: 50%;

    color: rgb(255, 71, 71);
    font-family: 'Decrypted';
    font-size: 15cqw;
    text-align: center;

    user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); /* mobile */
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.7;
    z-index: 9;
}

input[type="checkbox"] {
    display: none;
}

::placeholder {
    color: rgb(255, 71, 71);
    opacity: 0.5;
}

.card label {
    position: absolute;
    bottom: 50%;
    right: 8%;
    width: 25%;
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.card :not(:checked) + label img {
    content: url('./img/no_camera_icon.webp');
}

.card :checked + label + input {
    animation: blinking 500ms steps(8, end) forwards;
}

.card :checked + label + input + video {
    animation: blinking 1500ms steps(8, end);
}

@keyframes blinking {
    0% { opacity: 0.7; }
    10% { opacity: 0; }
    20% { opacity: 0.4; }
    30% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 0.5; }
    60% { opacity: 0.1; }
    70% { opacity: 0.7; }
    100% { opacity: 0; display: none; }
}

.card img, .card canvas {
    position: absolute;
    top: 15%;
    left: 27%;
    /* aspect-ratio: 4 / 3; */
    width: 46%;
    cursor: pointer;
}

.qrcode img {
    opacity: 0.7;
}

#reader {
    overflow: hidden;
    border-radius: 7%;
}

#reader::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('./img/black_card_top.webp');
    background-size: contain;
    border-radius: 7%;
    z-index: 6;
    /* opacity: 0; */
}

#reader.white::after {
    background-image: url('./img/white_card_top.webp');
}

#reader video {
    width: 100% !important;
    position: relative;
    top: 38%;
    left: 0;
    translate: 0% -50%;
    opacity: 0.7;
    filter: sepia(100%) saturate(300%) brightness(30%) hue-rotate(310deg);
}
/* red line going up and down */
#reader:has(:checked)::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(transparent 0%, rgb(146, 0, 0) 20%, transparent 30%);
    animation: red-line 4s infinite linear;
    z-index: 5;
}

@keyframes red-line {
    0% { transform: translateY(-30%); }
    50% { transform: translateY(70%); }
    100% { transform: translateY(-30%); }
}


/* gameSection */

#container > section {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;

    display: flex;
    align-items: center;
    animation: 1s zoom-in forwards;
    scale: 0.2;
    opacity: 0;
    max-height: 95vh;
    max-width: 95vw;
    height: 100vh;
    aspect-ratio: 900 / 319;
}

body:not(.game) #container > section {
    pointer-events: none;
    animation: none;
}

@keyframes zoom-in {
    to{scale: 1; opacity: 1;}
}

.board {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('./img/black_board.webp');
    background-size: contain;
    aspect-ratio: 900 / 319;
    container-type: inline-size;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.board > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section > img {
    border-radius: 30px;
}

.key{
    --delay: 0;
    position: absolute;
    top: -200%;
    width: 18%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: url('./img/key.webp');
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 90% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 90% 0);
    aspect-ratio: 49/74;

    color: rgba(1, 9, 255, 0);
    font-family: 'Geologica';
    font-size: 3cqw;
    overflow: visible;
    filter: blur(10px);

    transition: all calc(var(--delay) / 2 + .3s), color 0s;
}

.key::after{
    display: block;
    bottom: 0;
    content: attr(data-n);
    color: white;
    opacity: 0;
    font-family: Decrypted;
    font-size: min(10vh, 10vw);
    max-height: 0;
    transition: .5s;
}

.board.shown .key {
   animation: slide-in 3s var(--delay) forwards;
   filter: none;
}

@keyframes slide-in {
    50%, to{    
        top: -8%;
        color: rgba(1, 9, 255, 1);
    }
}

.key:nth-of-type(1){
    left: 8%;
    --delay: 0s;
}
.key:nth-of-type(2){
    left: 30%;
    --delay: .5s;
}
.key:nth-of-type(3){
    left: 51%;
    --delay: 1s;
}
.key:nth-of-type(4){
    left: 73%;
    --delay: 1.5s;
}

body.battery_saver{
    background: black;
    .board img {
        display: none;
    }
    #bg {
        animation: fadeOut 1s;
    }
    .card {
        box-shadow: rgb(77, 77, 77) 0 0 15px;
    }
    .board{
        background-image: none;
        box-shadow: none;
    } 
    
    .board::before{
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        content: attr(data-c);
        color: white;
        opacity: 0.2;
        font-family: Geologica;
    }
    .key{
        gap: 20px;
        translate: 0 17%;
        background: rgba(119, 119, 119, 0.1);
        border-radius: 15px;
        color: white!important;
        clip-path: none;
    }
    #board1 .key{
        translate: 0 -17%;
    }
    .key::after{
        opacity: 0.4;
        max-height: 100px;
    }
}