@font-face {
    font-family: "Decrypted";
    src: url('./decrypted.ttf') format('truetype');
}

@font-face {
    font-family: "Geologica";
    src: url('./Geologica-ExtraBold.ttf') format('truetype');
}


body {
    --color1: #00aee5;
    --color2: #016eb1;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 90vh;
}

#bg-conic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: repeating-conic-gradient(from -90deg at 25%,
            var(--color1) calc(var(--angle)) calc(var(--angle) + 10deg),
            var(--color2) calc(var(--angle) + 10deg) calc(var(--angle) + 25deg));
    background-size: contain;
    animation: rotate infinite 150s linear;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate {
    to {
        --angle: 360deg
    }
}

#bg-glow {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(at 25%, var(--color1) 5%, rgba(0, 0, 0, 0.2));
    width: 100vw;
    height: 100vh;
}

#bg-dots {
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.3) 10%, transparent 10%);
    background-position: center;
    background-size: 30px 30px;
    left: -50vw;
    width: 200vw;
    height: 200vh;
    rotate: 10deg;
    transform-origin: center;
}

body > span{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    z-index: 100;
    font-size: 5vh;
    color: var(--color2);
    text-shadow: 3px 3px black;
    user-select: none;
    cursor: pointer;
    filter: hue-rotate(100deg);
}

/* Card generator */

#card-gen{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 50px;
    height: 50px;
}

/* menu */

main {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: center;
    align-items: center;
    gap: 25px;
    transition: 1s;
    transform-origin: 60% 60%;
    max-width: 90vw;
}

body.game main {
    scale: 0;
    opacity: 0;
}

main a {
    filter: drop-shadow(8px 5px rgba(0, 0, 0, 0.5));
    max-height: 90vh;
    max-width: 25vw;
}

main img {
    width: 100%;
    cursor: pointer;
}

.card {
    position: relative;
    background-size: contain;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border-radius: 7%;
    container-type: inline-size;
    width: 100%;
}

.card.white {
    background-image: url('./img/white_card.webp');
}

.card.black {
    background-image: url('./img/black_card.webp');
}

body > .card {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: 1s;
    height: min(70vh, 90vw);
    width: initial;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 100px;
}
body > .hidden {
    translate: -50% 50vh;
    box-shadow: none;
}

.card div,
.card input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 13%;
    top: 12%;
    width: 74%;
    height: 50%;

    color: rgb(255, 71, 71);
    font-family: 'Decrypted';
    font-size: 15cqw;
    text-align: center;

    user-select: none;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.7;
}

::placeholder {
    color: rgb(255, 71, 71);
    opacity: 0.5;
}


/* gameSection */

body > section {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;

    display: flex;
    align-items: center;
    animation: 1s zoom-in forwards;
    scale: 0.2;
    opacity: 0;
    max-height: 90vh;
    max-width: 90vw;
    height: 100vh;
    aspect-ratio: 900 / 319;
}

body:not(.game)>section {
    pointer-events: none;
    animation: none;
}

@keyframes zoom-in {
    to{scale: 1; opacity: 1;}
}

.board {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('./img/black_board.webp');
    background-size: contain;
    aspect-ratio: 900 / 319;
    container-type: inline-size;
    /* max-width: 100%; */
    width: 100%;
}

.board > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section > img {
    border-radius: 30px;
}

.key{
    --delay: 0;
    position: absolute;
    top: -200%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('./img/key.webp');
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 90% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 90% 0);
    aspect-ratio: 49/74;
    color: transparent;
    font-family: 'Geologica';
    font-size: 3cqw;
    animation: slide-in 3s var(--delay) forwards;
    transition: filter 1s, color 1s;
}

body:not(:has(.hidden)) .key{
   filter: blur(10px);
}

@keyframes slide-in {
    40%{
        top: -8%;
    }
    to{
        color: rgb(1, 9, 255);
        top: -8%;
    }
}

.key:nth-of-type(1){
    left: 8%;
    --delay: .5s;
}
.key:nth-of-type(2){
    left: 30%;
    --delay: 1s;
}
.key:nth-of-type(3){
    left: 51%;
    --delay: 1.5s;
}
.key:nth-of-type(4){
    left: 73%;
    --delay: 2s;
}

body.battery_saver{
    background-color: black;
    #bg-conic, #bg-glow, .board img {
        display: none;
    }
    .board{
        background-image: none;
    }
    .key{
        background-image: none;
        color: white;
    }
    > span { 
        filter: hue-rotate(240deg);
    }
}